@import "compass/css3";
@import "lib/animations";
@import "lib/keyframes";
@import "lib/media";
@import "lib/ceaser-easing/ceaser";
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
// gradients for ie
$experimental-support-for-svg: true;

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

// svg icons url
$icons-svg: "icons-svg/";

// responsive
$break_1024: 1024px;
$break_1280: 1280px;
$break_1340: 1340px;
$break_1400: 1400px;
$break_1600: 1600px;
@mixin respond-to($media) {
  @if $media == 1024 {
    @media only screen and (max-width: $break_1024) { @content; }
  }
  @else if $media == 1280 {
    @media only screen and (max-width: $break_1280) { @content; }
  }
  @else if $media == 1340 {
    @media only screen and (max-width: $break_1340) { @content; }
  }
  @else if $media == 1400 {
    @media only screen and (max-width: $break_1400) { @content; }
  }
  @else if $media == 1600 {
    @media only screen and (max-width: $break_1600) { @content; }
  }
}
// retina bg
@mixin retina{
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}

// BACKGROUND SIZE
@mixin background-size($width: 100%, $height: 100%) {
     -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
          background-size: $width $height;
}
// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
     -moz-transform: rotate($deg + deg);
       -o-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
      -ms-transform: rotate($deg + deg);
          transform: rotate($deg + deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
               zoom: 1;
}

// skew
@mixin skew($deg) {
     -moz-transform: skew($deg);
       -o-transform: skew($deg);
  -webkit-transform: skew($deg);
      -ms-transform: skew($deg);
          transform: skew($deg);
}

// box-sizing
@mixin box-sizing($var) {
     -moz-box-sizing: $var;
  -webkit-box-sizing: $var;
          box-sizing: $var;
}

// user-select
@mixin unselect {
     -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}  

// image replacement extend
%hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
@mixin selection($bg) {
  ::-webkit-selection {
    background: $bg;
  }
  ::-moz-selection {
    background: $bg;
  }
  ::selection {
    background: $bg;
  }
}
@mixin clr{
  *zoom: 1;
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

@mixin gpu {
    @include transform(translate3d(0,0,0));
    -webkit-backface-visibility: hidden;
}

// placeholder color
@mixin placeholder($color, $font-family) {
  &.placeholder {
    color: $color;
    font-family: $font-family;
  }
  &:-moz-placeholder {
    color: $color;
    font-family: $font-family;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
  }
}

@mixin gray(){
  filter: url(../img/filter.svg#grayscale);
  filter: gray;
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray alpha(opacity=50); /* IE6-9 */
  -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

//  sprites with padding
$icons: sprite-map("icons/*.png", $spacing: 10px);

// sized sprites
@mixin image-size($path){
  width: image-width($path);
  height: image-height($path);
}
@mixin sized-sprite($map, $sprite){
  background: sprite($map, $sprite) no-repeat;
  @include image-size(sprite-file($map, $sprite));
}
//shortcut
@mixin s($sprite, $map: $icons){
  background: sprite($map, $sprite) no-repeat;
  //background-image: inline-image('icons/'+$sprite+'.png','image/png'); to switches sprites to base64, elegant
  @include image-size(sprite-file($map, $sprite));
}
//only image, when dimensions are useless
@mixin si($sprite, $map: $icons){
  background: sprite($map, $sprite) no-repeat;
}
// SVG icon 
// include for global icon`s class
@mixin is-icon-svg {
  display: inline-block;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
// include for current icon`s class
@mixin icon-svg($name, $width, $height) {
    width: $width + px;
    height: $height + px;
    background-image: inline-image($icons-svg + $name + ".svg");
}

// fonts
@mixin font {
    font-weight: normal;
    font-style: normal;
    font-family: 'open_sansregular', Arial, sans-serif;
}
// fonts
@mixin font_i {
    font-weight: normal;
    font-style: normal;
    font-family: 'open_sansitalic', Arial, sans-serif;
}
// fonts
@mixin font_l {
    font-weight: normal;
    font-style: normal;
    font-family: 'open_sanslight', Arial, sans-serif;
}
// fonts
@mixin font_b {
    font-weight: normal;
    font-style: normal;
    font-family: 'open_sansbold', Arial, sans-serif;
}