@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 1024px;    
    color: #fff;
    @include font;
    font-size: 14px;
    line-height: 1.2;
    background: #fff url(../img/body-bg.png) 50% 0 repeat;
    @include selection(rgba(0,0,0,.3));
}
a{
    color: #fff;
    text-decoration: none;
}
.l-layout {
    margin: 0 auto -137px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.push {
    clear: both;
    height: 137px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    padding-top: 38px;
    text-align: center;
}
.logo {
    font-size: 14px;
    a {
        display: block;
        margin: 0 auto 2px;
        @include s(logo);
        @extend %hide-text;
    }  
    span {
        color: #6f6f6f;
        @include font_i;
    }
}
.nav {
    margin: 35px 0 12px;
    line-height: 1.4;
    a {
        display: inline-block;
        margin-left: 28px;
        color: #383838;
        font-size: 18px;
        border-bottom: 1px dotted #a7a5a1;
        &:first-child {
            margin-left: 0;  
        }
        &:hover {
            border-bottom-color: transparent;
        }
    }
    .is-active {
        color: #f00;
        border-bottom-color: transparent;
    }
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.main {
    height: 500px;
    background: #000;
    overflow: hidden;
    @include box-shadow(0 -2px 10px rgba(0,0,0,.3));
}
.main__inner {
    margin: 0 auto;
    max-width: 1468px;
}
.col {
    position: relative;
    float: left;
    width: 50%;
    height: 500px;
    &:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../img/grid.png) 0 0 repeat;
    }
    &.is-active {
        .slider {
            .cycle-slideshow {
                display: block;
            }
        }
    }
}
.col_left {
    .link {
        right: 40px;
        text-align: right;
    }
    .slider {
        right: 30px; 
        @include respond-to(1280) {
            right: 10px;
        } 
    }
    &.is-active {
        .link {
            right: 495px;
            @include respond-to(1400) {
                right: 505px;
            }
            @include respond-to(1280) {
                right: 410px;
            }
        }
        .link_width {
            @include respond-to(1280) {
                right: 320px;
            }
        }
    }
    .menu-nav {
        right: 37px;
        text-align: right;
    }
    .menu {
        right: 7px;
    }
}
.col_right {
    .link {
        left: 40px;
    }
    .slider {
        left: 30px;
        @include respond-to(1280) {
            left: 10px;
        }
    }
    &.is-active {
        .link {
            left: 495px;
            @include respond-to(1280) {
                left: 410px;
            }
        }
        .link_mod {
            left: 525px;
            @include respond-to(1400) {
                left: 505px;
            }
            @include respond-to(1280) {
                left: 410px;
            }
        }
        .link_width {
            @include respond-to(1280) {
                left: 320px;
            }
        }
    }
    .menu-nav {
        left: 37px;
    }
    .menu {
        left: 28px;
    }
}

.cycle-slideshow {
    z-index: 0;
}
.bg-cycle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 323px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include transition(all 700ms ceaser($easeInOutExpo));
    @include gpu;
    background: #000;
    @include opacity(.37);
    &.is-moving {
        top: 0; 
    }
    &.is-active {
        top: 0;
        @include opacity(1);
    }
}
.link {
    position: absolute;
    z-index: 3;
    top: 270px;
    width: 290px;
    @include unselect;
    @include gpu;
    @include transition(all 700ms ceaser($easeInOutExpo));
    @include respond-to(1600) {
        top: 272px;
        width: 210px;
    }
    @include respond-to(1400) {
        top: 272px;
        width: 200px;
    }
    span {
        font-size: 54px;
        @include font_l;
        cursor: pointer;
        border-bottom: 1px dotted #c7c7c7;
        @include respond-to(1600) {
            font-size: 40px;
        }
    }  
}

.partners {
    height: 83px;
    margin-bottom: 20px;
    line-height: 83px;
    background: #fff;
    text-align: center;
    @include box-shadow(0 2px 10px rgba(0,0,0,.1));
    img {
        vertical-align: middle;
    }
}

.menu-nav {
    position: absolute;
    z-index: 3;
    top: 21px;
    display: none;
    &.is-active {
        display: block;
    }
    li {
        margin-bottom: 4px;
    }
    a {
        font-size: 15px;
        color: #fff;
        border-bottom: 1px dotted;
        text-transform: uppercase;
        &:hover {
            border-bottom-color: transparent;
        }
    }
    .is-active-link {
        color: #ff1b1b;
        border-bottom-color: transparent;
    }
}

.menu {
    display: none;
    z-index: 2;
    top: 21px;
    position: absolute;
    width: 465px;
    @include respond-to(1280) {
        width: 395px;
    }
}
.tab-cont {
    &:first-child {
        display: block;
    }
}
.simple-title {
    margin: 0 auto 11px;
    max-width: 350px;
    font-size: 15px; 
    text-align: center;
    @include font_b;
}
.menu__top {
    float: right;
    margin-bottom: 9px;
    width: 180px;
    font-size: 0;
    span {
        display: inline-block;
        width: 55px;
        padding-left: 12px;
        font-size: 12px;
        @include box-sizing(border-box);
        &:first-child {
            padding-left: 0;
        }
    }
}
.menu__list {
    width: 100%;
    height: 367px;
    @include transition(all .2s linear);  
    li {
        padding-left: 15px;
        @include clr;
        margin-bottom: 13px;
    }
}
.menu__product {
    float: left;
    padding-right: 10px;
    width: 260px;
    word-break: break-all;
    @include respond-to(1280) {
        width: 198px;
    }
}
.menu__prices {
    float: left;
    width: 165px;
    vertical-align: top;
    color: #909090;
    font-size: 0;
    span {
        display: inline-block;
        width: 55px;
        padding-left: 12px;
        font-size: 12px;
        vertical-align: top;
        @include box-sizing(border-box);
        &:first-child {
            padding-left: 0;
        }
    }
}
.menu__link {
    float: right;
    margin: 17px 23px 0 0;
    text-decoration: underline;
}
.icon-dish {
    display: inline-block;
    margin-left: 8px;
    @include s(dish);
}

.slider {
    display: none;
    z-index: 3;
    position: absolute;
    top: 19px;
    width: 500px;
    .cycle-slideshow {
        width: 445px !important;
        display: block;
        margin: 0 auto;
        img {
            margin: 0 2px 0 0;
        }
    }
}
.slider__wrap {
    position: relative;
    margin-top: 48px;
}
.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    margin-top: -14px;
}
.slider__prev {
    left: 0;
    @include s(prev);
    @include respond-to(1280) {
        left: 10px;
    }
}
.slider__next {
    right: 0;
    @include s(next);
    @include respond-to(1280) {
        right: 10px;
    }
}  
.text-cont {
    display: none;
    z-index: 3;
    position: absolute;
    top: 19px;
    left: 40px;
    width: 465px;
    @include transition(all .3s linear);
    .simple-title {
        margin-bottom: 22px;
    }
    img {
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 20px;
    }
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 137px;
    overflow: hidden;
    @include clr;
}   
.copyright {
    float: left;
    font-size: 11px;
    color: #696969;
    i, span {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        margin-right: 7px;
        @include s(logo-small);
    }
}
.soc {
    margin: 11px 0 0 166px;
    font-size: 0;
    float: left;
    a {
        display: inline-block;
        margin-right: 6px;
        vertical-align: middle;
        @include transition(all .2s ease-in-out);
        &:hover {
            position: relative;
            top: -1px;
        }
    }
}
.soc__tw {
    @include s(tw);
}
.soc__vk {
    @include s(vk);
}
.soc__fb {
    @include s(fb);
}
.fb-like {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
}
.created-by {
    float: right;
    margin-top: 20px;
    color: #000;
    font: normal 11px Arial, sans-serif;
    a {
        color: #6e6e6e;
        text-decoration: underline;
    }
}
/* -------------------------------------- //END Footer ------------------------------------------- */