@import "base";
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    left: 3px;
    width: 1px;
    height: 100%;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #363636;
    position: relative;
    &:before,
    &:after {
        content: "";
        top: 0;
        position: absolute;
        width: 5px;
        left: -2px;
        height: 1px;
        background: #363636;
    }
    &:before {
        bottom: 0;
        top: auto;
    }
}

.jspDrag
{
    background: #fff;
    position: relative;
    z-index: 2;
    top: 0;
    left: -2px;
    width: 4px;
    cursor: pointer;
    border: 1px solid #cacaca;
    &:before, 
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
    }
    &:before {
        margin-top: -2px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 2px 2px 2px;
        border-color: transparent transparent #000 transparent;
    }
    &:after {
        margin-top: 2px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 2px 2px 0 2px;
        border-color: #000 transparent transparent transparent;
    }
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 6px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}


.scroll-pane {
    width: 474px;
    height: 367px;
    overflow: auto;
    &:focus, &:active {
        outline: none;
    }
}
