@font-face{font-family:'open_sansitalic';src:url("../fonts/opensans-italic-webfont.eot");src:url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-italic-webfont.woff") format("woff"),url("../fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sanslight';src:url("../fonts/opensans-light-webfont.eot");src:url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-light-webfont.woff") format("woff"),url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sansregular';src:url("../fonts/opensans-regular-webfont.eot");src:url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-regular-webfont.woff") format("woff"),url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sansbold';src:url("../fonts/opensans-bold-webfont.eot");src:url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-bold-webfont.woff") format("woff"),url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");font-weight:normal;font-style:normal}.logo a{font:0/0 a;text-shadow:none;color:transparent}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}body,html{height:100%}img,fieldset{border:none}input[type="submit"],button{cursor:pointer}input[type='submit']::-moz-focus-inner{padding:0;border:0}textarea{overflow:auto}input,button{margin:0;padding:0;border:0}input,textarea,select,button,h1,h2,h3,h4,h5,h6,a,span,a:focus{outline:none}ul,ol{list-style-type:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}table{border-spacing:0;border-collapse:collapse}*{-webkit-text-size-adjust:none}body{min-width:1024px;color:#fff;font-weight:normal;font-style:normal;font-family:'open_sansregular', Arial, sans-serif;font-size:14px;line-height:1.2;background:#fff url(../img/body-bg.png) 50% 0 repeat}body ::-webkit-selection{background:rgba(0,0,0,0.3)}body ::-moz-selection{background:rgba(0,0,0,0.3)}body ::selection{background:rgba(0,0,0,0.3)}a{color:#fff;text-decoration:none}.l-layout{margin:0 auto -137px;position:relative;min-height:100%;height:auto !important;height:100%}.push{clear:both;height:137px}.wrapper{overflow:hidden}.header{padding-top:38px;text-align:center}.logo{font-size:14px}.logo a{display:block;margin:0 auto 2px;background:url('../img/icons-s910c6da508.png') 0 0 no-repeat;width:315px;height:89px}.logo span{color:#6f6f6f;font-weight:normal;font-style:normal;font-family:'open_sansitalic', Arial, sans-serif}.nav{margin:35px 0 12px;line-height:1.4}.nav a{display:inline-block;margin-left:28px;color:#383838;font-size:18px;border-bottom:1px dotted #a7a5a1}.nav a:first-child{margin-left:0}.nav a:hover{border-bottom-color:transparent}.nav .is-active{color:#f00;border-bottom-color:transparent}.main{height:500px;background:#000;overflow:hidden;-webkit-box-shadow:0 -2px 10px rgba(0,0,0,0.3);-moz-box-shadow:0 -2px 10px rgba(0,0,0,0.3);box-shadow:0 -2px 10px rgba(0,0,0,0.3)}

.main__inner{margin:0 auto;max-width:1468px}

.col{position:relative;float:left;width:50%;height:500px}
.col:before{content:"";position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;background:url(../img/grid.png) 0 0 repeat}

.col.is-active .slider .cycle-slideshow{display:block}
.col_left .link{right:40px;text-align:right}
.col_left .slider{right:30px}
@media only screen and (max-width: 1280px){.col_left .slider{right:10px}}
.col_left.is-active .link{right:495px}
@media only screen and (max-width: 1400px){.col_left.is-active .link{right:505px}}
@media only screen and (max-width: 1280px){.col_left.is-active .link{right:410px}}
@media only screen and (max-width: 1280px){.col_left.is-active .link_width{right:320px}}
.col_left .menu-nav{right:37px;text-align:right}
.col_left .menu{right:7px}
.col_right .link{left:40px}
.col_right .slider{left:30px}
@media only screen and (max-width: 1280px){.col_right .slider{left:10px}}
.col_right.is-active .link{left:495px}
@media only screen and (max-width: 1280px){.col_right.is-active .link{left:410px}}
.col_right.is-active .link_mod{left:525px}
@media only screen and (max-width: 1400px){.col_right.is-active .link_mod{left:505px}}
@media only screen and (max-width: 1280px){.col_right.is-active .link_mod{left:410px}}
@media only screen and (max-width: 1280px){.col_right.is-active .link_width{left:320px}}
.col_right .menu-nav{left:37px}.col_right .menu{left:28px}
.cycle-slideshow{z-index:0}
.bg-cycle{position:absolute;top:0;left:0;width:100%;overflow:hidden}


.overlay{position:absolute;top:323px;right:0;bottom:0;left:0;z-index:1;-webkit-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);-moz-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);-o-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=37);opacity:0.37}
.overlay.is-moving{top:0}.overlay.is-active{top:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.link{position:absolute;z-index:3;top:270px;width:290px;-moz-user-select:none;-webkit-user-select:none;user-select:none;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;-webkit-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);-moz-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);-o-transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000);transition:all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000)}@media only screen and (max-width: 1600px){.link{top:272px;width:210px}}@media only screen and (max-width: 1400px){.link{top:272px;width:200px}}.link span{font-size:54px;font-weight:normal;font-style:normal;font-family:'open_sanslight', Arial, sans-serif;cursor:pointer;border-bottom:1px dotted #c7c7c7}@media only screen and (max-width: 1600px){.link span{font-size:40px}}.partners{height:83px;margin-bottom:20px;line-height:83px;background:#fff;text-align:center;-webkit-box-shadow:0 2px 10px rgba(0,0,0,0.1);-moz-box-shadow:0 2px 10px rgba(0,0,0,0.1);box-shadow:0 2px 10px rgba(0,0,0,0.1)}.partners img{vertical-align:middle}.menu-nav{position:absolute;z-index:3;top:21px;display:none}.menu-nav.is-active{display:block}.menu-nav li{margin-bottom:4px}.menu-nav a{font-size:15px;color:#fff;border-bottom:1px dotted;text-transform:uppercase}.menu-nav a:hover{border-bottom-color:transparent}.menu-nav .is-active-link{color:#ff1b1b;border-bottom-color:transparent}.menu{display:none;z-index:2;top:21px;position:absolute;width:465px}@media only screen and (max-width: 1280px){.menu{width:395px}}.tab-cont:first-child{display:block}.simple-title{margin:0 auto 11px;max-width:350px;font-size:15px;text-align:center;font-weight:normal;font-style:normal;font-family:'open_sansbold', Arial, sans-serif}.menu__top{float:right;margin-bottom:9px;width:180px;font-size:0}.menu__top span{display:inline-block;margin-left:12px;font-size:12px}.menu__top span:first-child{margin-left:0}.menu__list{width:100%;height:367px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear}.menu__list li{padding-left:15px;*zoom:1;margin-bottom:13px}.menu__list li:after{content:".";display:block;height:0;clear:both;visibility:hidden}.menu__product{float:left;padding-right:10px;width:260px;word-break:break-all}@media only screen and (max-width: 1280px){.menu__product{width:198px}}.menu__prices{float:left;width:165px;color:#909090;font-size:12px}.menu__link{float:right;margin:17px 23px 0 0;text-decoration:underline}.icon-dish{display:inline-block;margin-left:8px;background:url('../img/icons-s910c6da508.png') 0 -366px no-repeat;width:17px;height:14px}.slider{display:none;z-index:3;position:absolute;top:19px;width:500px}


.slider .cycle-slideshow{width:445px;display:block;margin:0 auto}
/*
.slider .cycle-slideshow a {float:left;display:inline;width:147px;height:147px;margin:0 2px 0 0;}
*/

.slider .cycle-slideshow img{margin:0 2px 0 0}
.slider__wrap{position:relative;margin-top:48px}
.slider__prev,.slider__next{position:absolute;top:50%;margin-top:-14px}
.slider__prev{left:0;background:url('../img/icons-s910c6da508.png') 0 -292px no-repeat;width:11px;height:27px}
@media only screen and (max-width: 1280px){.slider__prev{left:10px}}
.slider__next{right:0;background:url('../img/icons-s910c6da508.png') 0 -329px no-repeat;width:11px;height:27px}
@media only screen and (max-width: 1280px){.slider__next{right:10px}}

.text-cont{display:none;z-index:3;position:absolute;top:19px;left:40px;width:465px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear}
.text-cont .simple-title{margin-bottom:22px}
.text-cont img{margin-bottom:18px}
.text-cont p{margin-bottom:20px}

.footer{position:relative;margin:0 auto;width:900px;height:137px;overflow:hidden;*zoom:1}
.footer:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.copyright{float:left;font-size:11px;color:#696969}.copyright i,.copyright span{display:inline-block;vertical-align:middle}.copyright i{margin-right:7px;background:url('../img/icons-s910c6da508.png') 0 -99px no-repeat;width:43px;height:57px}.soc{margin:11px 0 0 166px;font-size:0;float:left}.soc a{display:inline-block;margin-right:6px;vertical-align:middle;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.soc a:hover{position:relative;top:-1px}.soc__tw{background:url('../img/icons-s910c6da508.png') 0 -208px no-repeat;width:34px;height:32px}.soc__vk{background:url('../img/icons-s910c6da508.png') 0 -166px no-repeat;width:35px;height:32px}.soc__fb{background:url('../img/icons-s910c6da508.png') 0 -250px no-repeat;width:34px;height:32px}.fb-like{margin-left:16px;display:inline-block;vertical-align:middle}.created-by{float:right;margin-top:20px;color:#000;font:normal 11px Arial, sans-serif}.created-by a{color:#6e6e6e;text-decoration:underline}@font-face{font-family:'open_sansitalic';src:url("../fonts/opensans-italic-webfont.eot");src:url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-italic-webfont.woff") format("woff"),url("../fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sanslight';src:url("../fonts/opensans-light-webfont.eot");src:url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-light-webfont.woff") format("woff"),url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sansregular';src:url("../fonts/opensans-regular-webfont.eot");src:url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-regular-webfont.woff") format("woff"),url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'open_sansbold';src:url("../fonts/opensans-bold-webfont.eot");src:url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/opensans-bold-webfont.woff") format("woff"),url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");font-weight:normal;font-style:normal}.logo a{font:0/0 a;text-shadow:none;color:transparent}.jspContainer{overflow:hidden;position:relative}.jspPane{position:absolute}.jspVerticalBar{position:absolute;top:0;left:3px;width:1px;height:100%}.jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:16px}.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0}.jspCap{display:none}.jspHorizontalBar .jspCap{float:left}.jspTrack{background:#363636;position:relative}.jspTrack:before,.jspTrack:after{content:"";top:0;position:absolute;width:5px;left:-2px;height:1px;background:#363636}.jspTrack:before{bottom:0;top:auto}.jspDrag{background:#fff;position:relative;z-index:2;top:0;left:-2px;width:4px;cursor:pointer;border:1px solid #cacaca}.jspDrag:before,.jspDrag:after{content:"";position:absolute;top:50%;left:0}.jspDrag:before{margin-top:-2px;width:0px;height:0px;border-style:solid;border-width:0 2px 2px 2px;border-color:transparent transparent #000 transparent}.jspDrag:after{margin-top:2px;width:0px;height:0px;border-style:solid;border-width:2px 2px 0 2px;border-color:#000 transparent transparent transparent}.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%}.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer}.jspArrow.jspDisabled{cursor:default;background:#80808d}.jspVerticalBar .jspArrow{height:16px}.jspHorizontalBar .jspArrow{width:6px;float:left;height:100%}.jspVerticalBar .jspArrow:focus{outline:none}.jspCorner{background:#eeeef4;float:left;height:100%}.scroll-pane{width:460px;height:367px;overflow:auto}.scroll-pane:focus,.scroll-pane:active{outline:none}
